@model TurboTicketsMVC.Models.Ticket

@{
    ViewData["Title"] = "Restore";
}
<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Restore Ticket</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Id">Ticket Details</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Restore Ticket</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                    <h4 class="text-center text-muted">Restore the ticket "@Model.Title"?</h4>
                    <form asp-action="RestoreConfirmed" method="Post">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Restore" class="btn btn-primary" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>