@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Change Password</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </nav>

            </div>

            <a class="btn btn-primary btn-sm d-lg-none d-block d-flex align-items-center px-3" asp-area="Identity" asp-page="/Account/Manage/Index">Edit Profile</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row no-gutters app-block">
                <div class="col-md-3 app-sidebar">
                    <div>
                        <div class="list-group list-group-flush">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="list-group-item d-flex align-items-center">
                                <i class="bi bi-person-circle list-group-icon mr-2"></i>
                                Edit Profile
                            </a>
                            <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="list-group-item active">
                                <i class="bi bi-key-fill list-group-icon mr-2"></i>
                                Change Password
                            </a>

                        </div>
                    </div>

                </div>
                <div class="col-md-9 app-content">
                    <div class="app-content-body">
                        <div class="app-lists p-4 row d-flex flex-column align-items-center">
                            <div class="col-md-4 col-12 ">

                                <form id="change-password-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                                        <label asp-for="Input.OldPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                                        <label asp-for="Input.NewPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
