@page
@using TurboTicketsMVC.Models.Enums;
@using TurboTicketsMVC.Services.Interfaces;
@model IndexModel
@inject ITTFileService _fileService;
@{
    ViewData["Title"] = "Profile";
    // ViewData["ActivePage"] = ManageNavPages.Index;

}

@* <partial name="_StatusMessage" for="StatusMessage" /> *@
<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Edit Profile</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                    </ol>
                </nav>

            </div>

            <a class="btn btn-primary btn-sm d-lg-none d-block d-flex align-items-center px-3" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row no-gutters app-block">
                <div class="col-md-3 app-sidebar">
                    <div>
                        <div class="list-group list-group-flush">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="list-group-item active d-flex align-items-center">
                                <i class="bi bi-person-circle list-group-icon mr-2"></i>
                                Edit Profile
                            </a>
                            <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="list-group-item">
                                <i class="bi bi-key-fill list-group-icon mr-2"></i>
                                Change Password
                            </a>

                        </div>
                    </div>

                </div>
                <div class="col-md-9 app-content">
                    <div class="app-content-body">
                        <div class="app-lists p-4">
                            <form id="profile-form" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        @* <label asp-for="Input.ImageData" style="width: 100%;"></label> *@

                                        <img id="userImage" class="img-fluid img-thumbnail rounded" src="@_fileService.ConvertByteArrayToFile(Model.Input.ImageFileData,Model.Input.ImageFileType,DefaultImage.BTUserImage)" />

                                        <input type="file" asp-for="Input.ImageFormFile" class="form-control" accept=".png,.jpg,.jpeg,.gif,.tif"
                                               style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                               onchange="document.getElementById('userImage').src = window.URL.createObjectURL(this.files[0])" />

                                        <span asp-validation-for="Input.ImageFormFile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating mb-1">
                                        <input asp-for="Username" class="form-control" disabled />
                                        <label asp-for="Username" class="form-label"></label>
                                    </div>
                                    <div class="form-floating mb-1">
                                        <input asp-for="Input.FirstName" class="form-control" />
                                        <label asp-for="Input.FirstName"></label>
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-1">
                                        <input asp-for="Input.LastName" class="form-control" />
                                        <label asp-for="Input.LastName"></label>
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>

                                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
