
@{
    ViewData["Title"] = "GenericError";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h4 class="text-danger">Sorry, you're not authorized to make this request.</h4>
<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Dashboard">Dashboard</a>