@{
    ViewData["Title"] = "Error";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h4 class="text-danger mb-3">Sorry, your request failed.</h4>
<h5 class="text-muted mb-3"> Please ensure you're requesting a resource that exists.</h5>
<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Dashboard">Dashboard</a>