@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<h1 class="text-primary">@ViewData["Title"]</h1>
<p>@Model.StatusMessage</p>
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in"></i><span>&nbsp; Sign In</span></a>

