@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";

}

<h4 class="text-primary text-center">@ViewData["Title"]</h4>
<p>
    Please check your email to reset your password.
</p>
