@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<!-- logo -->
<div id="logo">
    <img src="~/gogi/assets/media/image/dark-logo.png" alt="image">
</div>
<!-- ./ logo -->

<h5>Sign in</h5>

<!-- form -->
<form id="account" method="post">
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" placeholder="Username or email" required autofocus>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group d-flex justify-content-between">
        <div class="custom-control custom-checkbox">
            <input asp-for="Input.RememberMe" class="custom-control-input" checked="" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember me</label>
        </div>
        <a href="recovery-password.html">Reset password</a>
    </div>
    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Sign in</button>
    <hr>
    <p class="text-muted">Login with your social media account.</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-dribbble">
                <i class="fa fa-dribbble"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-google">
                <i class="fa fa-google"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-behance">
                <i class="fa fa-behance"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-instagram">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
    <hr>
    <p class="text-muted">Don't have an account?</p>
    <a class="btn btn-outline-light btn-sm">Register now!</a>
</form>
<!-- ./ form -->


@* <h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" asp-route-returnUrl="~/Home/Dashboard">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Or use one of the Demo Accounts to log in. </h3>
            <hr />

            <div class="mb-1 text-center">
                <form class="" id="account" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8 btn-block">
                                <button type="submit" style="width:inherit;height:min-content" class="btn btn-primary p-10 m-2" name="demoEmail" value="DemoAdminEmail">Demo Admin</button>
                                <button type="submit" style="width:inherit;height:min-content" class="btn btn-primary p-10 m-2" name="demoEmail" value="DemoPMEmail">Demo PM</button>
                                <button type="submit" style="width:inherit;height:min-content" class="btn btn-primary p-10 m-2" name="demoEmail" value="DemoDevEmail">Demo Developer</button>
                                <button type="submit" style="width:inherit;height:min-content" class="btn btn-primary p-10 m-2" name="demoEmail" value="DemoSubEmail">Demo Submitter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </section>
    </div>
</div>
 *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
