@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<!-- logo -->
<div id="logo">
    <img src="~/img/turbotickets_wide_primary.svg" style="height: 70px; width: auto;" alt="image">
</div>
<hr/>
<!-- ./ logo -->

<h5 class="text-muted">Demo logins</h5>

<form class="" id="demoAccount" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="btn-block">
            <button type="submit" style="width:inherit;height:min-content" class="btn btn-light p-10 my-2 d-flex justify-content-center align-items-center" name="demoEmail" value="DemoAdminEmail">Demo Admin</button>
            <button type="submit" style="width:inherit;height:min-content" class="btn btn-light p-10 my-2 d-flex justify-content-center align-items-center" name="demoEmail" value="DemoPMEmail">Demo PM</button>
            <button type="submit" style="width:inherit;height:min-content" class="btn btn-light p-10 my-2 d-flex justify-content-center align-items-center" name="demoEmail" value="DemoDevEmail">Demo Developer</button>
            <button type="submit" style="width:inherit;height:min-content" class="btn btn-light p-10 my-2 d-flex justify-content-center align-items-center" name="demoEmail" value="DemoSubEmail">Demo Submitter</button>
        </div>

    </div>
</form>
<hr />
<!-- form -->
<h5 class="text-muted">User Login</h5>
<form id="account" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Username or email" required autofocus>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Password" required>
        <span asp-validation-for="Input.Password" class="text-danger"></span>

    </div>
    <div class="form-group d-flex justify-content-between">
        <div class="custom-control custom-checkbox">
            <input asp-for="Input.RememberMe" class="custom-control-input" checked="" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember me</label>
        </div>
        <a asp-area="Identity" asp-page="/Account/ForgotPassword">Reset password</a>
    </div>
    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Sign in</button>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-warning btn-block">Register now!</a>
    <hr>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
