@page
@model RegisterByInviteModel
@{
    ViewData["Title"] = "Register By Invite";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div id="logo">
    <img src="~/img/turbotickets_wide_primary.svg" style="height: 70px; width: auto;" alt="image">
</div>
<!-- ./ logo -->

<h5>Register</h5>
<hr />

<div class="row">
    <div class="col-12">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input hidden asp-for="Input.CompanyId" />
            <input hidden asp-for="Input.ProjectId" />
            <input hidden asp-for="Input.FirstName" />
            <input hidden asp-for="Input.LastName" />
            <input hidden asp-for="Input.Email" />
            <input hidden asp-for="Input.CompanyToken" />

            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating d-flex flex-column justify-content-between align-items-start">
                <label asp-for="Input.Company" class="form-label"></label>
                <input asp-for="Input.Company" class="form-control" disabled />
            </div>

            <div class="form-floating d-flex flex-column justify-content-between align-items-start">
                <label asp-for="Input.FirstName" class="form-label"></label>
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" disabled/>
            </div>
            <div class="form-floating d-flex flex-column justify-content-between align-items-start">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control" aria-required="true" disabled/>
            </div>

            <div class="form-floating d-flex flex-column justify-content-between align-items-start">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" disabled/>
            </div>
            <div class="form-floating d-flex flex-column justify-content-between align-items-start">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating d-flex flex-column justify-content-between align-items-start">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}