@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";

}

<h4 class="text-primary text-center">@ViewData["Title"]</h4>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
