@model TurboTicketsMVC.Models.Project

@{
    ViewData["Title"] = "Archive";
}

<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Archive Project</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Id">Project Details</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Archive Projects</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                    <h4 class="text-center text-muted">Are you sure you want to archive the project "@Model.Name"?</h4>
                    <form asp-action="ArchiveConfirmed" method="Post">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Archive" class="btn btn-danger" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
   