@model TurboTicketsMVC.Models.ViewModels.AssignPMViewModel

@{
    ViewData["Title"] = "Assign Project Manager";
    bool pmAvailable = Model.PMList!.Count() > 0;
}
<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Assign Project Manager</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectId">Project Details</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Assign Project Manager</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h6 class="text-center">
                            @Model.ProjectName
                        </h6>
                        </div>
                </div>
                <div class="card-body">
                    @if(pmAvailable)
                    {
                    <form asp-action="AssignPM" asp-controller="Projects" method="post" class="d-flex flex-column">
                        <div asp-validation-summary="ModelOnly" class="text-danger" enctype="multipart/form-data"></div>
                        <input type="hidden" asp-for="ProjectId" />
                        <div class="form-group">
                            <label asp-for="PMId" class="control-label">Project Manager</label>
                            <select asp-items="Model.PMList" asp-for="PMId">
                                <option value="">Unassigned</option>
                            </select>
                            <span asp-validation-for="PMId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary my-3">Save</button>
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                        </form>
                    } else
                    {
                        <h4 class="text-muted text-center">No Project Managers available</h4>
                        <a asp-controller="Companies" asp-action="ManageUserRoles">Manage Roles</a>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-5 flex-column align-items-center">
    <h3 class="my-5">Assign Project Manager</h3>
</div>
