html {
    font-size: 14px;
}

:root {
    --color-primary: #5066e1;
    --color-dark: #393536;
    --color-orange: #fa9421;
    --color-primary-light: #5066e190;
    --color-secondary: #0f2167;
    --color-secondary-light: #2E4374;
    --color-danger: #820300;
    --color-gray: #d4d4d4;
    --color-danger-light: #B80000;
    --color-light-gray: #f3f3f3;
    --color-warning: #ffcc3e;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.history-container {
    border-bottom: black;
}

.list-group-flush > .list-group-item {
    border-width: 1px;
}

.card-primary {
    color: var(--color-primary);
}

.card-secondary {
    color: var(--color-dark);
}

.line-clamp {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.primary-bg {
    color: white;
    background-color: var(--color-primary);
}

.secondary-bg {
    color: white;
    background-color: var(--color-secondary);
}

.warning-bg {
    color: var(--color-dark);
    background-color: var(--color-warning);
}

.danger-bg {
    color: white;
    background-color: var(--color-danger);
}

.dark-bg {
    color: white;
    background-color: var(--color-dark);
}

.carousel-indicators li {
    background-color: var(--color-primary);
}

.primary-button {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: all linear 0.12s;
    border-radius: 5px;
}

    .primary-button a {
        color: white;
    }

    .primary-button:hover {
        filter: brightness(1.2);
        cursor: pointer;
    }

card-link {
    transition: all 0.1s ease-in-out;
}

    card-link:hover {
        cursor: pointer;
        border: 1px solid var(--color-primary);
    }

.badge {
    --bs-badge-color: none;
}

.border-bottom-gray {
    border-bottom: 1px solid var(--color-gray);
}

.unread-notification {
    background-color: var(--color-light-gray);
}

.glow-link {
    transition: 0.05s all ease-in-out;
}

    .glow-link:hover {
        color: white;
    }

.custom-tooltip {
    --bs-tooltip-bg: var(--color-primary);
}

.project-wrapper .project-info button {
    background-color: #00000000;
}

.btn-inverse {
    background-color: white;
    color: var(--color-primary);
    text-decoration: none;
    font-size: 14px;
    width: auto;
    padding: 10px 15px;
    line-height: 14px;
    border-radius: 0.2rem;
    border-color: var(--color-primary);
    cursor: pointer;
    box-shadow: 0px 2px 8px 0px rgba(80, 102, 225, 0.45);
}

.btn.btn-light {
    background: white;
}

.enjoyhint_skip_btn {
    border: 2px solid white;
    color: white;
}

    .enjoyhint_skip_btn:hover {
        background: white;
        color: var(--color-dark);
    }

.enjoyhint_next_btn {
    border: 2px solid white;
    color: white;
}

    .enjoyhint_next_btn:hover {
        background: white;
        color: var(--color-dark);
    }

.enjoyhint_close_btn {
    border: 2px solid white;
}

.enjoyhint_close_btn:hover {
    background:white;
    color:var(--color-dark);
}


.enjoyhint_skip_btn {
    border: 2px solid white;
    color: white;
    display: none;
}

.enjoyhint_skip_btn:hover {
    background:white;
    color: var(--color-dark);
}

.enjoyhint_close_btn:hover:after {
    color: var(--color-dark);
    background: var(--color-dark);
}

.enjoyhint_close_btn:hover:before {
    color: var(--color-dark);
    background: var(--color-dark);
}